<h2 id="mark-rice">Mark Rice</h2>
<p>Cynthiana, KY 41031</p>
<p>Phone: 224-944-2200</p>
<p>Email: ricemark20@gmail.com <br></p>
<p><strong>SUMMARY</strong></p>
<p>Engineering graduate with varied experience in electronic
troubleshooting, product validation, repair, <br> refurbishing,
inspection, and assembly is seeking an Electronic Engineering
position.</p>
<p><strong>SKILLS</strong></p>
<p>Experience soldering fine-pitch surface mount components. <br>
Experience troubleshooting circuit boards to the component level. <br>
Other skills: Diagnostics, Testing, Medical device repair, IPC <br>
soldering, Trained in FDA documentation. <br> Computer skills:
Proficient in Windows 10 and Fedora Linux.</p>
<p><br></p>
<p><strong>EXPERIENCE</strong></p>
<hr />
<p><em><strong>Fanuc America Corporation</strong></em>, Hoffman Estates,
IL <br> January 2022 to March 2023</p>
<p><em><strong>PCB Repair Technician</strong></em></p>
<ul>
<li>Test and repair PCB’s.</li>
<li>Troubleshoot and repair PCB’s, meeting quality and quantity goals as
assigned.</li>
<li>Test systems as required.</li>
<li>Work cooperatively as a positive contributing team member.</li>
</ul>
<hr />
<p><em><strong>MRV Systems</strong></em>, Wood Dale, IL <br> May 2018 to
January 2022</p>
<p><em><strong>Assembly Technician</strong></em></p>
<ul>
<li>Mechanical, electrical and pneumatic assembly of board sets for
several types of floats containing sensors to monitor environmental
conditions in the ocean.</li>
<li>Work with sub-assemblies from schematics, diagrams, written and
verbal instructions.</li>
<li>Test and pair boards for installation in finished floats.</li>
</ul>
<hr />
<p><em><strong>Illinois Instruments</strong></em>, Johnsburg, IL <br>
Aug. 2012 to January 2018</p>
<p><em><strong>Electronic Lab Technician</strong></em></p>
<ul>
<li>Test, troubleshoot, and repair the analyzers in preparation for
scheduled customer orders.</li>
<li>Work from schematics, diagrams, written and verbal
instructions.</li>
<li>Support engineering with tests to collect design data or assist in
general research work.</li>
<li>Diagnose gas flow problems in an instrument.</li>
<li>Perform electronic troubleshooting on analyzers.</li>
<li>Maintains current knowledge of relevant technologies as
assigned.</li>
</ul>
<hr />
<p><em><strong>Plexus</strong></em>, Buffalo Grove, IL - Contracted for
Goldstar Solutions, Bannockburn, IL <br> Nov. 2011 to Feb. 2012</p>
<p><em><strong>SMT Repair Technician</strong></em></p>
<ul>
<li>Reworked PCB’s with SMD components on leaded and RoHs (lead-free)
PCB’s</li>
</ul>
<!--
<br>
-->
<hr />
<p><em><strong>Panasonic</strong></em>, Elgin, IL - Contracted for
Randstad Staffing, Elgin IL <br> Nov. 2011 to Feb. 2012</p>
<p><em><strong>Electronic Repair Technician</strong></em></p>
<ul>
<li>Performed troubleshooting and repair to the component level.</li>
<li>Repaired video PCB’s for plasma and LCD flat panel televisions.</li>
<li>Thoroughly tested PCB’s to verify the integrity of the repair.</li>
</ul>
<hr />
<p><em><strong>Mitsubishi</strong></em>, Vernon Hills, IL - Contracted
for Goldstar Solutions, Bannockburn, IL <br> June 2011 to Oct. 2011</p>
<p><em><strong>Electronic Repair Technician</strong></em></p>
<ul>
<li>Component level troubleshooting and repair on Variable Frequency
drives and Inverter drives</li>
<li>Recovered and restored customer parameters on these drives when
possible</li>
<li>Processed drives through the SAP inventory control system.</li>
</ul>
<hr />
<p><em><strong>Plexus</strong></em>, Buffalo Grove, IL - Contracted for
Goldstar Solutions, Bannockburn, IL <br> Jan. 2011 to May 2011</p>
<p><em><strong>Production Associate</strong></em></p>
<ul>
<li>Performed post-wave quality inspection and repair of PCB’s.</li>
<li>Currently certified to IPC-A-610E specifications.</li>
</ul>
<hr />
<p><em><strong>Motorola</strong></em>, Schaumburg, IL - Contracted for
Insight Global, Des Plaines, IL <br> Jan. 2010 to Dec. 2010</p>
<p><em><strong>Electronic Repair Technician</strong></em></p>
<ul>
<li>Repaired PCBs with surface mount and thru-hole components on
handheld radios, mobile emergency units and infrastructure boards.</li>
<li>Trained on Finetech BGA replacement machine.</li>
</ul>
<hr />
<p><em><strong>IPC Automation</strong></em>, McHenry, IL - Contracted
for Express Employment Professionals, Crystal Lake, IL <br> June 2009 to
July 2009</p>
<p><em><strong>Electronic Technician</strong></em></p>
<ul>
<li>Performed functional testing and adjustment of Mobile Climate
controls.</li>
</ul>
<hr />
<p><em><strong>Precision Zone</strong></em>, Wheeling, IL <br> July 2008
to May 2009</p>
<p><em><strong>Technician</strong></em></p>
<ul>
<li>Component level troubleshooting and repair of high voltage
industrial drives</li>
<li>Tested per written procedures.</li>
</ul>
<hr />
<p><em><strong>Technical Concepts</strong></em>, Mundelein, IL –
Contracted for The BECO Group, Park Ridge, IL <br> Apr. 2008 to June
2008</p>
<p><em><strong>Technician</strong></em></p>
<ul>
<li>Testing and troubleshooting on various automated washroom fixtures,
including soap dispensers, flushers, and aerosol fragrance
dispensers</li>
</ul>
<!--
<br><br><br><br>
-->
<hr />
<p><em><strong>MBX Systems</strong></em>, Wauconda, IL <br> May 2007 to
Nov. 2007</p>
<p><em><strong>Builder</strong></em></p>
<ul>
<li>Assembled and tested servers. Added components, including RAM, CPU
and hard drives, and wired the servers.</li>
</ul>
<hr />
<p><em><em>Baxter Healthcare</em></em>, Buffalo Grove, IL - Contracted 2
yrs./Permanent 5 yrs. <br> Oct. 2000 to May 2007</p>
<p><em><strong>Technician</strong></em></p>
<ul>
<li>Repaired Colleague and Flogard volumetric infusion pumps</li>
<li>Performing diagnostics on the Colleague pumps.</li>
<li>Followed extensive FDA required testing to ensure each pump met
specifications for safety and reliability</li>
<li>Volunteered to assist engineering with ESD testing on Colleague
pumps to locate sources of a set of failure codes and determine
solutions.</li>
<li>Tested internal pump signals to establish the effect of ESD on
selected components.</li>
<li>Performed the testing at Underwriters Laboratories (UL), testing ESD
compatibility on various configurations of pumps, including software
fixes.</li>
</ul>
<p><br></p>
<p><strong>EDUCATION</strong></p>
<hr />
<p><em><strong>ITT Technical Institute</strong></em>, Hoffman Estates,
Illinois <br> Graduated with a Bachelor’s degree, with honors, in
Electronic Engineering Technology</p>
<p><em><strong>College of Lake County</strong></em>, Grayslake, Illinois
<br> Graduated with an Associate degree in Electronic Engineering
Technology</p>
<p><em><strong>Sterling School of Drafting and Design</strong></em> <br>
Certificate, Auto CAD 2000 Level I and II</p>
<hr />
<p><br></p>
<p><strong>HOBBIES AND INTERESTS</strong></p>
<hr />
<p>Hold an Amateur Radio license, General Class<br />
July 2022</p>
<p>Maintain a network of Raspberry Pi’s and other computers on a home
network, with a focus on the Linux command line.<br />
May 2015 to Present</p>
<hr />
